.contact-form__heading{
    text-align: center;
}


form {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.form__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  line-height: 6ex;
  
}

.form__group-title{
  margin-left: 30%;


}

.form__label--gender{
  float: right;
  position: absolute;
  right: 35%;
  top: 17%;
  
}



::placeholder{
  position: absolute;
  top: 100;
}